@charset "UTF-8";

body{
    margin-top:100px;
    background-color: #309797;
}

article{
    margin:auto;
    background-color: #4286e5;
    width: 500px;
    height: 250px;
    padding-top: 30px;
    border-radius: 10px;
}

h1{
    background-color: #1055cc;
    color: white;
    width: 450px;
    margin: auto;
    margin-bottom: 3px;
    text-align: center;

}

input#txt1 {
    margin: auto;
    margin-bottom: 3px;
    display: block;
    background-color: rgba(255, 253, 253, 0.65);
    width: 440px;
    height: 40px;
}
input#txt2 {
    margin: auto;
    margin-bottom: 3px;
    display: block;
    background-color: rgba(255, 253, 253, 0.65);
    width: 440px;
    height: 40px;
}

input#botao{
    margin:auto;
    margin-bottom: 3px;
    display: block;
    background-color: rgba(255, 253, 253, 0.65);
    width: 447px;
    height: 40px;
    border-radius: 5px;
    box-shadow: black 300px;
}
div#res{
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #1055cc;
    width: 450px;
    height:auto;

}
